@import '../../../styles/colors.scss';

.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    z-index: 2;
    animation-name: shadow;
    animation-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);

    @keyframes shadow {
        from {
            background-color: transparent;
        }

        to {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &__search {
        background: $gray2;
        width: 100%;
        max-width: 600px;
        max-height: 50px;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-radius: 12px;
        margin-top: 120px;
        animation-name: in;
        animation-duration: 0.5s;

        input {
            background: transparent;
            border: none;
            outline: none;
            color: $gray;
            font-size: 18px;
            width: 100%;
            margin-left: 10px;
        }

        @keyframes in {
            from {
                margin-top: 0px;
            }

            to {
                margin-top: 120px;
            }
        }

    }
}