@import '../../../styles/colors.scss';

.about {
    .about-information {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 100px;

        &__title {
            max-width: 450px;
            margin-bottom: 30px;
        }

        &__subtitle {
            max-width: 400px;
            margin-bottom: 30px;
        }

        button {
            width: 200px;
        }
    }

    .about-slider {
        &__title {
            text-align: center;
            max-width: 650px;
            margin: 30px auto;
        }

        &__subtitle {
            text-align: center;
        }
    }

}