html {
    box-sizing: border-box;
    font-family: var(--font-inter);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #000000;
    color: #fff;
    position: relative;
}

button,
input {
    font-family: var(--font-inter);
}