@import '../../../styles/colors.scss';

.button-fj {
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;

    &--primary {
        background: $yellow;
        color: $black;
    }

    &--secondary {
        background: $black;
        color: $white;
    }

    @media (max-width: 1024px) {
        font-size: 14px;
        padding: 10px;
    }

    @media (max-width: 768px) {
        font-size: 12px;
        padding: 10px;
    }


}